@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/*
* Header
*/
.header {
    height: 100px;
    display: flex;
    border-bottom: 1px solid #ececec;
}

.wrapper-header {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo > span {
    text-transform: uppercase;
    margin-left: 13px;
    font-weight: 300;
    font-size: 27px;
    color: #222222;
}
.last-letter-span-logo {
    color: #f16d7f;
    font-weight: 900;
}
.header-form {
    display: flex;
    margin-left: 30px;
    width: 400px;
    height: 36px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.browse_search {
    border: 0px;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
.browse_search span::after {
    content: url(../img/arrow.png);
    position: relative;
    bottom: 3px;
    right: -3px;

}
input[type=search] {
    border: 0px;
    padding-left: 15px;
}
input[type=search]::placeholder {
    font-weight: 300;
    color: #a4a4a4;
}
.search_button {
    background: url(../img/search.png) 10px no-repeat;
    width: 36px;
    border: 0px;
    border-left: 1px solid #e6e6e6;
    margin-left: auto;
}
.header-form button input {
    height: 36px;
}
.purchase-elements {
    margin-left: auto;
    display: flex;
    height: 38px;
}
.basket {
    background: url(../img/basket.png) 0px no-repeat;
    width: 32px;
    border: 0px;
    align-items: flex-end;
}
.account {
    width: 130px;
    border: 0px;
    background-color: #f16d7f;
    color: #fce7e9;
    margin-left: 26px;
}

.account span::after {
    content: url(../img/arrow.png);
    position: relative;
    bottom: 3px;
    right: -3px;

}

/*
* TopNav
*/
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.topnav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #222222;
}

.topnav a:not(:last-of-type) {
    margin-right: 47px;
}

/*
* Slider
*/
.slider {
    height: 613px;
    background-color: #e8e8e8;

}

.wrapper-slider {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
}

.slider_text {
    //display: flex;
    //border-left: 12px solid #F16D7F;
    padding-left: 00px;
    position: relative;
    z-index: 1;
    top: -390px;
    left: 0px;
    height: 94px;
    flex: 0 0 50%;
}
.line {
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    z-index: 2;
    top: 12px;
}
.clear {
    clear: both;
}

.slider img {
    //height: 613px;

}
.slider_text > div {
    margin-left: 25px;

}
.slider_text h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 65px;
    color: #222222;
    text-transform: uppercase;
    width: 377px;
}

.slider_text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #222222;
    text-transform: uppercase;
}

.slider_text span {
    color: #F16D7F;
}

/*
* Categories
*/
.wrapper-categories {
    display: grid;
    grid-gap: 20px;
    margin-top: 98px;
}

.category-man {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 0px;
}

.category-woman {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.category-accesories {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

.category-kids {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

/*
* Products
*/
.products {
    margin-top: 101px;
}
.products-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products h2 {
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    //line-height: 16px;
}
.products span {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
    line-height: 36px;
}
.wrapper-products {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: 260px 260px 260px 260px;
    //grid-gap: 32px;
    grid-column-gap: 32px;
    grid-row-gap: 40px;
}
.product-item a {
    text-decoration: none;

}
.product-item {
    position: relative;
}
.product-item img {
    opacity: 1.0;
}
.product-item:hover {
    box-shadow: 0px 6px 8px 6px rgba(34, 60, 80, 0.1);
}
.product-item:hover::before {
    /* background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.3; */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 104px;
    background-color: rgba(0,0,0,0.5);  
    z-index: 1;
    transition: .5s ease;
}
.add_to_cart {
    display: flex;
    align-items: center;
    position: absolute;
    content: '';
    top: 98px;
    left: 65px;
    //background: url(../img/basket.png) 0px no-repeat;
    //width: 23px;
    border: 0px;
    align-items: center;
    opacity: 0;
    padding: 8px 13px;
    font-size: 13px;
    font-weight: 700;
    //line-height: 300px;
    border: 1px solid #fff;
    color: #ffffff !important;
    z-index: 2;
}
.add_to_cart img {
    color: #ffffff;
    width: 23px;
    margin-right: 5px;

}
.product-item:hover .add_to_cart {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.product-item p {
    color: #222222;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.product-item span {
    text-decoration: none;
    color: #f16d7f;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.product-item figcaption{
    padding-left: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.all-product {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
    margin: 0 auto;
    margin-top: 58px;

}
.all-product span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    
}
.all-product span::after {
    content: url(../img/arrow-right.png);
    position: relative;
    bottom: 1px;
    right: -3px;

}

/*
* Features
*/
.wrapper-features {
    margin-top: 113px;
    display: flex;
}
.banner {
    position: relative;
}
.banner-text {
    padding-left: 00px;
    position: absolute;
    z-index: 1;
    top: 146px;
    left: 39px;
    height: 94px;
    flex: 0 0 50%;
}
.banner-text h2 {
    font-weight: 700;
    font-size: 54px;
    color: #fff;
    text-transform: uppercase;
}
.banner-text h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
}
.banner-text span {
    color: #F16D7F;
}
.feature-box {
    width: 373px;
    background-color: #222224;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 36px;
    padding-right: 43px;
}
.feature-box-item {
    position: relative;
}
.feature-box-item h3 {
    font-weight: 700;
    font-size: 20px;
    color: #fbfbfb;
    margin-left: 78px;
}
.feature-box-item p {
    font-weight: 300;
    font-size: 14px;
    color: #fbfbfb;
    line-height: 20px;
    margin-left: 75px;
    margin-top: 21px;
}
.feature-box-item img {
    position: absolute;
    top: -8px;
}

/*
* Subscribe
*/

.subscribe {
    background: url(../img/subscribe/bg.png) no-repeat;
    background-size:100% 100%;
    height: 438px;
    margin-top: 97px;
}
.wrapper-subscribe {
    display: flex;
    
}
.reviews {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 50%;
    border-right: 1px solid #e3e3e3;
    min-height: 438px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 115px;
    padding-right: 83px;
}
.reviews img {
    position: absolute;
    left: 0;
    top: 128px;
    border-radius: 100px;
    width: 83px;
}
.review-autor_text {
    font-style: italic;
    font-size: 16mpx;
    font-weight: 400;
    color: #222224;
    line-height: 25px;
}
.review-autor_name {
    font-weight: 700;
    font-size: 16px;
    color: #f16d7f;
    margin-top: 22px;
}
.review-autor_address {
    font-weight: 300;
    font-size: 12px;
    color: #222224;
    margin-top: 5px;
}
.form-subscribe {
    display: flex;
    flex: 50%;
    align-items: center;
}
.reviews-slider {
    margin-top: 41px;
    display: flex;
}
.reviews-slider-element {
    display: block;
    height: 2px;
    width: 38px;
    background-color: #d6d6d6;
}
.slider-element-active {
    display: block;
    height: 2px;
    width: 38px;
    background-color: #f16d7f;
}

.reviews-slider-element:not(:last-of-type) {
    margin-right: 13px;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}
.form-subscribe p {
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
}
.form-subscribe span {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
}
.form-subscribe form {
    margin-top: 35px;
}
.form-subscribe form input {
    border: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 18px 28px;
    width: 263px;
    background-color: #e1e1e1;
    color: #979798;
}
.form-subscribe form input::placeholder {
    color: #222224;
    font-weight: 400;
    font-size: 14px;
}
.form-subscribe form button {
    background-color: #f16d7f;
    color: #fff;
    padding: 18px 21px;
    border: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.footer {
    
}
.wrapper-footer {
    display: flex;
    flex-direction: row;
    margin-top: 109px;
}
.about-us {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-right: 30px;
}
.about-us p:not(:first-of-type) {
    margin-top: 28px !important;
}
.about-us p {
    margin-top: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #898989;
}

.botnav {
    /* display: flex;
    flex-grow: 1;
    max-width: 100%;
    flex-shrink: 55%; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 130px;
}
.botnav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* .company {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 230px;
}
.info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 230px;
}
.shopcat {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 230px;
} */
.botnav a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #898989;
}
.botnav a:not(:last-of-type) {
    margin-bottom: 31px;
}

.head-link {
    color: #f16d7f !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 45px !important;
}
.copy-social {
    //display: flex;
    //height: 80px;
    background-color: #e6e6e6;
    margin-top: 90px;
}
.wrapper-copy-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.wrapper-copy-social span {
    //display: flex;
}
.social {
    //display: flex;
    margin-left: auto;
}
.social img:not(:last-of-type) {
    margin-right: 4px;
}