@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/*
* Header
*/
.header {
    height: 100px;
    display: flex;
    border-bottom: 1px solid #ececec;
}

.wrapper-header {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo > span {
    text-transform: uppercase;
    margin-left: 13px;
    font-weight: 300;
    font-size: 27px;
    color: #222222;
}
.last-letter-span-logo {
    color: #f16d7f;
    font-weight: 900;
}
.header-form {
    display: flex;
    margin-left: 30px;
    width: 400px;
    height: 36px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.browse_search {
    border: 0px;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
}
.browse_search span::after {
    content: url(../img/arrow.png);
    position: relative;
    bottom: 3px;
    right: -3px;

}
input[type=search] {
    border: 0px;
    padding-left: 15px;
}
input[type=search]::placeholder {
    font-weight: 300;
    color: #a4a4a4;
}
.search_button {
    background: url(../img/search.png) 10px no-repeat;
    width: 36px;
    border: 0px;
    border-left: 1px solid #e6e6e6;
    margin-left: auto;
}
.header-form button input {
    height: 36px;
}
.purchase-elements {
    margin-left: auto;
    display: flex;
    height: 38px;
}
.basket {
    background: url(../img/basket.png) 0px no-repeat;
    width: 32px;
    border: 0px;
    align-items: flex-end;
}
.account {
    width: 130px;
    border: 0px;
    background-color: #f16d7f;
    color: #fce7e9;
    margin-left: 26px;
}

.account span::after {
    content: url(../img/arrow.png);
    position: relative;
    bottom: 3px;
    right: -3px;

}

/*
* TopNav
*/
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.topnav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #222222;
}

.topnav a:not(:last-of-type) {
    margin-right: 47px;
}

/*
* Slider
*/
.slider {
    height: 613px;
    background-color: #e8e8e8;

}

.wrapper-slider {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
}

.slider_text {
    //display: flex;
    //border-left: 12px solid #F16D7F;
    padding-left: 00px;
    position: relative;
    z-index: 1;
    top: -390px;
    left: 0px;
    height: 94px;
    flex: 0 0 50%;
}
.line {
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    z-index: 2;
    top: 12px;
    
    
    //left: 30px;
}
.clear {
    clear: both;
}

.slider img {
    //height: 613px;

}
.slider_text > div {
    margin-left: 25px;

}
.slider_text h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 65px;
    color: #222222;
    text-transform: uppercase;
    width: 377px;
}

.slider_text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #222222;
    text-transform: uppercase;
}

.slider_text span {
    color: #F16D7F;
}

/*
* Categories
*/
.wrapper-categories {
    display: grid;
    grid-gap: 20px;
    margin-top: 98px;
}

.category-man {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 0px;
}

.category-woman {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.category-accesories {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

.category-kids {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

/*
* Features
*/
.features {
    margin-top: 101px;
}
.features-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features h2 {
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    //line-height: 16px;
}
.features span {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
    line-height: 36px;
}
.wrapper-features {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: 260px 260px 260px 260px;
    //grid-gap: 32px;
    grid-column-gap: 32px;
    grid-row-gap: 40px;
}
.feature-item a {
    text-decoration: none;

}
.feature-item a:hover {

}
.feature-item p {
    color: #222222;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.feature-item span {
    text-decoration: none;
    color: #f16d7f;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.feature-item figcaption{
    padding-left: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}