/**
* Cart
**/

.cart {
    display: grid;
    grid-template-columns: 113px 392px 173px 144px 144px 117px 49px;
}
.cart-title {
    display: grid;
    grid-template-columns: 113px 392px 173px 144px 144px 117px 49px;

}
.cart-title span {
    display: block;
}
.cart-item {
    display: flex;
    align-items: center;
    height: 162px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    margin-top: 22px;
}
.cart form {

}
.cart form button {

}
.address_discount_total {

}
.address {

}
.discount {

}
.total {

}