@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 75px;
    background-color: #222;
    display: flex;
}

.wrapper-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-header {
    display: flex;
    align-items: center;
    //border: 1px solid #eee;
    margin-left: 40px;
}

.buy-elements {
    margin-left: auto;
}

.buy-elements > a {
    margin-left: 30px
}

input[type=search] {
    /*background: #ededed url(img/search.svg) no-repeat 9px center;*/
    background: url(../img/search.svg) no-repeat 0px center;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    width: 30px;
    height: 30px;

    color: transparent;
    cursor: pointer;
    border: 0px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search]:hover {
    //background-color: #fff;
}

input[type=search]:focus {
    width: 200px;
    padding-left: 40px;
    color: snow;
    //background-color: #fff;
    cursor: auto;
}

.block-1 {
    height: 764px;
    background-color: #F1E4E6;

}

.wrapper-block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.block-1-info {
    border-left: 12px solid #F16D7F;

    padding-left: 20px;

    height: 94px;
    flex: 0 0 50%;
}

.block-1-img {
    //display: flex;
    //justify-content: flex-start;
    flex: 0 0 50%;
}

.block-1 h1 {

    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;
    width: 377px;
}

.block-1 h2 {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
    text-transform: uppercase;
}

.block-1 span {
    color: #F16D7F;
}
